@using Business.ModelsDTO
@using System.Linq
@using Business.RawMaterials
@using Business.Providers
@using Common
@using Business.Measures

@inject RouterRawMaterial _router;
@inject NavigationManager NavManager
@inject RouterProvider _provider ;
@inject RouterMeasure _measure;


<span class="col-12 h4 text-center font-weight-bolder mt-5 mb-5">
    Agregar nuevo insumo
</span>
<EditForm class="col-md-6 d-flex flex-wrap justify-content-center" OnValidSubmit="Save" Model="@oRawMaterial">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Nombre</label>
        <InputText id="name" @bind-Value="oRawMaterial.Name" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Name)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Stock</label>
        <InputNumber id="name" @bind-Value="oRawMaterial.Stock" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Stock)" class="text-danger" />
    </div>
    <span class="col-12 my-4 justify-content-start d-flex" style="height: 40px">
        <input type="button" class="btn btn-outline-primary button-animation" value="Asociar proveedor" @onclick="AddProvider" />
    </span>

    @foreach (var rawMaterialProvider in rawMaterialProvidersDTO)
    {
        <CreateRawMaterialProviderComponent Providers="providers"
                                            RawMaterialProvider="rawMaterialProvider"
                                            SetCurrentProvider="SetProvider"
                                            RemoveProviderForm="RemoveProviderForm"
                                            Measures="measures" />
    }

    <div class="form-group justify-content-center d-flex col-12 flex-wrap">
        <span class="col-12 text-danger text-center h5">@Message</span>
        <span class="col-12 justify-content-center d-flex" style="height: 35px">
            <input type="submit" value="Agregar insumo" class="form-control col-8 btn btn-dark button-animation" style="height: 35px" />
        </span>
        <span class="col-12 justify-content-center mt-3 d-flex" style="height: 35px">
            <a href="Providers/Index" class=" button-animation btn btn-outline-secondary col-8" style="height: 35px">Regresar</a>
        </span>
    </div>
</EditForm>



@code {

    #region Variables

    RawMaterialDTO oRawMaterial = new RawMaterialDTO();
    public string Message;
    List<ProviderDTO> providers = new List<ProviderDTO>();
    List<RawMaterialProviderDTO> rawMaterialProvidersDTO = new List<RawMaterialProviderDTO>();
    List<MeasureDTO> measures = new List<MeasureDTO>();

    #endregion

    #region| Metodos

    protected override async Task OnInitializedAsync()
    {
        try
        {
            providers = _provider.GetAll(false).Data;
            //measures = _measure.GetAll(false).Data;
            measures.Add(new MeasureDTO() { MeasureID = 1, Name = "Kg" });
            measures.Add(new MeasureDTO() { MeasureID = 2, Name = "Unidad" });

            rawMaterialProvidersDTO.Add(new RawMaterialProviderDTO());

        }
        catch (Exception e)
        {

            Message = "Imposible obtener lista de proveedores";
        }
    }

    private void SetProvider(RawMaterialProviderDTO rawMaterialProvider)
    {
        if (rawMaterialProvider.CurrentProvider)
        {
            rawMaterialProvidersDTO.Where(x => x != rawMaterialProvider).ToList().ForEach(x => x.CurrentProvider = false);
            oRawMaterial.CurreentQuantity = rawMaterialProvider.Quantity;
            oRawMaterial.CurrentPrice = rawMaterialProvider.Price;
            oRawMaterial.CurrentWeight = rawMaterialProvider.Weight;
            oRawMaterial.ProviderId = rawMaterialProvider.ProviderId;
        }
    }

    private void Save()
    {
        try
        {
            var formValidation = ValidateProviders();
            if (!formValidation.IsSuccess)
            {
                Message = formValidation.Message;
            }
            else
            {
                if (!(oRawMaterial.ProviderId > 0))
                    rawMaterialProvidersDTO.ForEach(x => SetProvider(x));

                oRawMaterial.rawMaterialProvidersDTO = rawMaterialProvidersDTO;
                var actionResponse = _router.Insert(oRawMaterial);

                if (actionResponse.IsSuccess)
                {
                    NavManager.NavigateTo("RawMaterials/Index");
                }
                else
                {
                    Message = actionResponse.Message;
                }
            }
        }
        catch (Exception e)
        {

            Message = e.Message;
        }

    }

    private ObjectResponse<bool> ValidateProviders()
    {
        var providersNull = rawMaterialProvidersDTO.Select(x => x.ProviderId).Contains(0);
        if (providersNull)
            return new ObjectResponse<bool>(false, "En cada formulario debes seleccionar un proveedor, si no lo necesitas elimina el formulario.");

        var currentProviders = rawMaterialProvidersDTO.Select(x => x.CurrentProvider).Contains(true);
        if (!currentProviders)
            return new ObjectResponse<bool>(false, "Debes seleccionar un proveedor actual.");

        return new ObjectResponse<bool>(true, "Validacion correcta");
    }


    private void AddProvider()
    {
        rawMaterialProvidersDTO.Add(new RawMaterialProviderDTO());
        rawMaterialProvidersDTO = rawMaterialProvidersDTO.OrderBy(x => x.ProviderId).ToList();
    }

    private void RemoveProviderForm(RawMaterialProviderDTO rawMaterialProvider)
    {
        try
        {
            rawMaterialProvidersDTO.Remove(rawMaterialProvider);
            rawMaterialProvidersDTO = rawMaterialProvidersDTO.OrderBy(x => x.ProviderId).ToList();
        }
        catch (Exception)
        {

            Message = "Formulario dañado, ingrese nuevamente el formulario y esta vez agrega solo la informacion necesaria";
        }

    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    #endregion
}