@using Business.ModelsDTO
@using System.Linq
@using Business.RawMaterials
@using Business.Brands
@using Business.Providers
@using Common
@using Business.Measures

@inject RouterRawMaterial _router;
@inject NavigationManager NavManager
@inject RouterProvider _provider ;
@inject RouterMeasure _measure;
@inject RouterBrand _brand;


<span class="col-12 h4 text-center font-weight-bolder mt-5 mb-5">
    Actualizar insumo
</span>
<EditForm class="col-md-6 d-flex flex-wrap justify-content-center" OnValidSubmit="Save" Model="@oRawMaterial">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Nombre</label>
        <InputText id="name" @bind-Value="oRawMaterial.Name" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Name)" class="text-danger" />
    </div>
    <div class="form-group col-md-12">
        <label for="name" class="font-weight-bolder">Stock</label>
        <InputNumber id="name" @bind-Value="oRawMaterial.Stock" class="form-control col-lg-12" />
        <ValidationMessage For="@(() => oRawMaterial.Stock)" class="text-danger" />
    </div>
    <span class="col-12 my-4 justify-content-start d-flex" style="height: 40px">
        <input type="button" class="btn btn-outline-primary button-animation" value="Asociar proveedor" @onclick="AddProvider" />
    </span>

    @foreach (var rawMaterialProvider in rawMaterialProvidersDTO)
    {
        <CreateRawMaterialProviderComponent Providers="providers"
                                            RawMaterialProvider="rawMaterialProvider"
                                            SetCurrentProvider="SetProvider"
                                            RemoveProviderForm="RemoveProviderForm"
                                            Brands="brands"
                                            Measures="measures" />
    }

    <div class="form-group justify-content-center d-flex col-12 flex-wrap">
        <span class="col-12 text-danger text-center h5">@Message</span>
        <span class="col-12 justify-content-center d-flex" style="height: 35px">
            <input type="submit" value="Actualizar insumo" class="form-control col-8 btn btn-dark button-animation" style="height: 35px" />
        </span>
        <span class="col-12 justify-content-center mt-3 d-flex" style="height: 35px">
            <a href="RawMaterials/Index" class=" button-animation btn btn-outline-secondary col-8" style="height: 35px">Regresar</a>
        </span>
    </div>
</EditForm>



@code {

    #region Variables
    [Parameter] public string RawMaterialId { get; set; }
    RawMaterialDTO oRawMaterial = new RawMaterialDTO();
    public string Message;
    List<ProviderDTO> providers = new List<ProviderDTO>();
    List<RawMaterialProviderDTO> rawMaterialProvidersDTO = new List<RawMaterialProviderDTO>();
    List<MeasureDTO> measures = new List<MeasureDTO>();
    List<BrandDTO> brands = new List<BrandDTO>();
    #endregion

    #region| Metodos

    protected override async Task OnInitializedAsync()
    {
        try
        {
            GetRelations();
            GetRawMaterial();
        }
        catch (Exception e)
        {

            Message = "Imposible obtener lista de proveedores";
        }
    }

    private void GetRawMaterial()
    {
        var actionResponse = _router.Get(Int32.Parse(RawMaterialId));
        if (actionResponse.IsSuccess)
        {
            oRawMaterial = actionResponse.Data;
            rawMaterialProvidersDTO = oRawMaterial.rawMaterialProvidersDTO;
        }
        else
        {
            Message = actionResponse.Message;
        }
    }

    private void GetRelations()
    {
        brands = _brand.GetAll(false).Data;
        providers = _provider.GetAll(false).Data;
        measures = _measure.GetAll(false).Data;
    }

    private void SetProvider(RawMaterialProviderDTO rawMaterialProvider)
    {
        foreach (var rawMaterialProviderDTO in rawMaterialProvidersDTO)
        {
            if(rawMaterialProviderDTO != rawMaterialProvider)
            {
                rawMaterialProviderDTO.CurrentProvider = false;
                rawMaterialProviderDTO.IsEdited = true;
            }
        }

        if (!rawMaterialProvider.CurrentProvider)
        {
            oRawMaterial.CurreentQuantity = rawMaterialProvider.Quantity;
            oRawMaterial.CurrentPrice = rawMaterialProvider.Price;
            oRawMaterial.CurrentWeight = rawMaterialProvider.Weight;
            oRawMaterial.ProviderId = rawMaterialProvider.ProviderId;
        }
    }

    private void Save()
    {
        try
        {
            var formValidation = ValidateProviders();
            if (!formValidation.IsSuccess)
            {
                Message = formValidation.Message;
            }
            else
            {
                if (!(oRawMaterial.ProviderId > 0))
                    rawMaterialProvidersDTO.ForEach(x => SetProvider(x));

                oRawMaterial.rawMaterialProvidersDTO = rawMaterialProvidersDTO;
                var actionResponse = _router.Update(oRawMaterial);

                if (actionResponse.IsSuccess)
                {
                    NavManager.NavigateTo("RawMaterials/Index");
                }
                else
                {
                    Message = actionResponse.Message;
                }
            }
        }
        catch (Exception e)
        {

            Message = e.Message;
        }

    }

    private ObjectResponse<bool> ValidateProviders()
    {
        FixProviders();

        var providersNull = rawMaterialProvidersDTO.Select(x => x.ProviderId).Contains(0);
        if (providersNull)
            return new ObjectResponse<bool>(false, "En cada formulario debes seleccionar un proveedor, si no lo necesitas elimina el formulario.");

        var currentProviders = rawMaterialProvidersDTO.Select(x => x.CurrentProvider).Contains(true);
        if (!currentProviders)
            return new ObjectResponse<bool>(false, "Debes seleccionar un proveedor actual.");

        return new ObjectResponse<bool>(true, "Validacion correcta");
    }

    private void FixProviders()
    {
        foreach (var rawMaterialProvider in rawMaterialProvidersDTO)
        {
            if(rawMaterialProvider.IsEdited)
            {
                rawMaterialProvider.ProviderDTO = providers.Find(x => x.ProviderId == rawMaterialProvider.ProviderId);
                rawMaterialProvider.RawMaterialProviderBrandDTO.Brand = brands.Find(x => x.BrandId == rawMaterialProvider.RawMaterialProviderBrandDTO.BrandId);
            }
        }
    }


    private void AddProvider()
    {
        var rawMaterialProviderDTO = new RawMaterialProviderDTO();
        rawMaterialProviderDTO.RawMaterialProviderBrandDTO = new RawMaterialProviderBrandDTO();
        rawMaterialProvidersDTO.Add(rawMaterialProviderDTO);
        rawMaterialProvidersDTO = rawMaterialProvidersDTO.OrderBy(x => x.ProviderId).ToList();
    }

    private void RemoveProviderForm(RawMaterialProviderDTO rawMaterialProvider)
    {
        try
        {
            rawMaterialProvidersDTO.Remove(rawMaterialProvider);
            rawMaterialProvidersDTO = rawMaterialProvidersDTO.OrderBy(x => x.ProviderId).ToList();
        }
        catch (Exception)
        {

            Message = "Formulario dañado, ingrese nuevamente el formulario y esta vez agrega solo la informacion necesaria";
        }

    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    #endregion
}