@using Business.Categories;
@using Business.ModelsDTO;

@inject NavigationManager NavManager
@inject CategoryRouter router

<span class="col-12 h4 text-center font-weight-bolder mt-5 mb-5">
    Eliminar categoria
</span>
<label class="col-12 text-center">¿Seguro que deseas eliminar esta categoria?</label>
<h5 class="col-12 mb-4 text-center">
    <strong>
        @oProductCategory.Name
    </strong>
</h5>
<div class="form-group justify-content-center d-flex flex-wrap">
    <input type="button" value="Eliminar Categoría" @onclick="Delete" class="form-control btn btn-danger col-12" />
    <a href="Categories/Index" class="btn btn-outline-secondary m-3">Volver</a>
</div>


@code {
    [Parameter]
    public string CategoryId { get; set; }

    public string Message { get; set; }
    ProductCategoryDTO oProductCategory = new ProductCategoryDTO();

    protected override async Task OnInitializedAsync()
    {
        var response = router.Get(Int32.Parse(CategoryId));
        if (response.IsSuccess)
        {
            oProductCategory = response.Data;
        }
        else
        {
            Message = response.Message;
        }
    }

    private void Delete()
    {
        var response = router.Delete(Int32.Parse(CategoryId));
        if (response.IsSuccess)
        {
            NavManager.NavigateTo("Categories/Index");
        }
        else
        {
            Message = response.Message;
        }
    }
}
